.header__logo {
  background-image: url(../../../images/header-logo.svg);
  min-width: 142px;
  min-height: 33px;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 740px) {
  .header__logo {
    max-width: 103.74px;
    min-height: 24.4px;
    margin-left: 27px;
  }
}
