.popup__close-button {
  background-image: url(../../../images/close-Icon.svg);
  position: absolute;
  top: -40px;
  right: -40px;
  width: 32px;
  height: 32px;
  background-size: contain;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  padding: 0;
}

.popup__close-button:hover {
  opacity: .6;
}

@media screen and (max-width: 740px) {
  .popup__close-button {

    width: 20px;
    height: 20px;
    right: 0;
    top: -36px;
  }
}
