.footer__copyright {
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
  margin: 0;
}

@media screen and (max-width: 880px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 17px;
  }
}
