.cards {
  max-width: 880px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  gap: 20px 17px;
}

@media screen and (max-width: 880px) {
  .cards {
    max-width: 581px;
    justify-items: center;
  }
}

@media screen and (max-width: 740px) {
  .cards {
    max-width: 282px;
    gap: 20px;
  }
}
