.popup__input-error {
  font-family: Inter, 'Helvetica Neue', Arial, sans-serif;
  color: #F00;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  opacity: 0;
  min-height: 24px;
  margin-top: 5px;
  margin-bottom: 1px;
}

